<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head'); -%> 
</head>
<body>
  <header> 
    <%- include ('partials/navbar') -%>
    </header>
    <main>
  <div>
    <h2><%= page %></h2>
    <h1><%= message %></h1>
  </div>
  </main>
</body>
<%- include ('partials/script') -%>
</html>