<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head'); -%>
</head>

<body>
  <header>
    <%- include ('../partials/navbar') -%>
  </header>
  <main>
    <h4 class="header">
      <%= page %>
    </h4>
    <div class="row" style="margin-bottom: 0;margin-left:5px;margin-right:5px;">
      <p>Le point de départ du projet est la valorisation de deux corpus spécifiques de périodiques : les unicas et la presse locale ancienne, concernant les 75 bibliothèques non déployées, du périmètre du Centre du Réseau Sudoc-PS PACA/Nice (Alpes-Maritimes, 
	  Var, Monaco).</p>
      <p>Ce projet s'inscrit dans le cadre de l’axe « Valorisation des collections » de la <a href="https://abes.fr/reseau-sudoc-ps/le-reseau/adherer-reseau-sudoc-ps/" target="_blanck">convention sur objectifs</a> 2018-2020, puis 2021-2023 avec 
	  l’<a href="https://abes.fr/" target="_blanck">ABES</a> (Agence Bibliographique de l’Enseignement Supérieur, qui gère le catalogue <a href="http://www.sudoc.abes.fr/cbs/xslt/" target="_blanck">Sudoc</a>).</p>
      <p>L'application AUPLA nous permet :</p>
	  <div class="row">
	  <div class="col s4">
	  <ul class="collection">
	    <li class="collection-item">d'évaluer nos collections
		<a href="#!" class="secondary-content"><i class="material-icons">show_chart</i></a>
		</li>
		<li class="collection-item">d'améliorer leur visibilité
		<a href="#!" class="secondary-content"><i class="material-icons">language</i></a>
		</li>
		<li class="collection-item">d'améliorer la qualité des données et du signalement dans le Sudoc.
		<a href="#!" class="secondary-content"><i class="material-icons">code</i></a></li>
	  </ul>
	  </div>
	  </div>
	  <p>La mise en œuvre de ce projet a donné lieu à la création et la mise en ligne de cet outil de visualisation des données basé sur les web services du Sudoc. Par construction, son périmètre s'étend aux titres de périodiques unica du 
	  <a href="http://www.sudoc.abes.fr/cbs/xslt/" target="_blanck">Sudoc</a> (titres ayant une seule localisation dans le Sudoc) et aux titres de périodiques des Alpes-Maritimes, du Var et de Monaco (périmètre de notre CR), 
	  présents dans la base de la <a href="https://www.bnf.fr/fr" target="_black">BnF</a> : <a href="http://presselocaleancienne.bnf.fr/accueil" target="_blanck">Presse locale ancienne</a>.</p>
	  <p>Les fonctionnalités principales portent sur la visualisation des données sous forme de graphes, la manipulation des données via l'interface web avec des rebonds vers les catalogues Sudoc et Presse locale ancienne, les vues sur les deux corpus 
	  appariés dans la base de données, l'export de fichiers personnalisés par bibliothèque du CR...</p>
    </div>
    <div class="divider"></div>
    <div class="row" style="margin-bottom: 0;margin-left:5px;margin-right:5px;">
      <h5 class="header">Le point technique</h5>
        <p>Pour résoudre le problème de l'hétérogénéité des sources de données structurées mais non
        complètement interopérables entre elles, les données sont moissonnées et stockées dans une base de données orientée graphe (<a href="https://neo4j.com/" target="_blanck">Neo4j</a>), 
        au sein de laquelle elles sont remodélisées en noeuds connectés entre eux par des relations typées.</p>
        <p>Le schéma de données utilisé est le suivant : </p>
        <img src="./images/neo4j_metadata.png" />

        <p>L'application est branchée sur la base de donnée (avec un driver), et interagit le graphe via une couche intermédiaire
        d'API REST afin de transmettre les requêtes sur le graphe et restituer les données selon différents formats d'exposition (API, visualisations, widget).
      </p>
      <p class="caption">La génèse et la description du projet ont été documentées sur le blog du CR PACA/Nice à l'occasion d'une <a href="http://bibliotheque-blogs.unice.fr/sudoc-ps/tag/application-unicapresse-locale-ancienne/" target="_blanck">série de billets</a> 
        sur la mise en oeuvre et le développement de l'application.</p>
      <p class="caption">Parmi ceux-çi, <a href="http://bibliotheque-blogs.unice.fr/sudoc-ps/2019/06/28/enrichir-et-faire-parler-les-donnees-du-cr-45-passage-par-la-case-modelisation/" target="_blanck">ce billet en particulier</a> apporte un éclairage plus technique sur la modélisation des données en
        graphe et leurs modalités de récupération depuis le Sudoc et les services de la BnF.</p>
    </div>
    <div class="divider"></div>
    <div class="row" style="margin-bottom: 0;margin-left:5px;margin-right:5px;">
      <h5 class="header">Code source</h5>
      <p class="caption">Si vous souhaitez installer et déployer cette application avec vos propres données, le code source et la procédure d'installation sont disponibles sur <a
          href="https://github.com/gegedenice/sudocps-pro-app" target="_blanck">ce dépôt Github</a>.</p>
    </div>
    <div class="divider"></div>
    <div class="row" style="margin-bottom: 0;margin-left:5px;margin-right:5px;">
    <p><i>Besoin d'un coup de main ?</i> <a class="btn waves-effect waves-light btn-small"
      href="mailto:sudoc-ps.paca-nice@univ-cotedazur.fr">Nous contacter<i
        class="material-icons right">contact_mail</i></a></p>
        </div>
  </main>
  <%- include ('../partials/footer') -%>
</body>
<%- include ('../partials/script') -%>

</html>