<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head'); -%>
</head>

<body>
    <header>
        <%- include ('../partials/navbar') -%>
    </header>
    <main>
        <h4 class="header">
            <%= page %>
        </h4>
        <div class="row">
            <div class="col s4">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <p class="flow-text">Les collections par bibliothèques</p>
                        <div id="selectbox-bibs"></div><input type="hidden" id="selected_bib" />
                    </li>
                    <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (s:SudocUnica)-[o:OWNED_BY]->(b:Bib) WHERE b.rcr='+`'${$('#selected_bib').val()}'`+' OPTIONAL MATCH (s)-[rel:SAME_AS]->(bnf:BnfPresselocale) OPTIONAL MATCH (bnf)-[h:HAS_VERSION]->(num:Numerisation) return *')">Voir ses unicas<i
                            class="material-icons secondary-content">send</i></a>
                    <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (bnf:BnfPresselocale)<-[sa:SAME_AS]-(s)-[o:OWNED_BY]->(b:Bib) WHERE b.rcr='+`'${$('#selected_bib').val()}'`+' OPTIONAL MATCH (bnf)-[h:HAS_VERSION]->(num:Numerisation) return *')">Voir ses titres de presse locale ancienne <i
                            class="material-icons secondary-content">send</i></a>
                    <a href="#!" class="collection-item" onclick="postCypherQuery('match (b:Bib)<-[r1:OWNED_BY]-(s)-[r2:OWNED_BY]->(b2:Bib) where b.rcr = '+`'${$('#selected_bib').val()}'`+' and id(b) <>id(b2) return *')">Voir ses titres (de presse locale) en commun avec d'autres
                        bibliothèques (du CR) <i class="material-icons secondary-content">send</i></a>
                </ul>
            </div>
            <div class="col s8">
                <p class="flow-text">Toutes les collections du CR</p>
                <div class="row">
                    <div class="col s6">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <p>Exploration</p>
                            </li>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (s:SudocUnica)-[rel:OWNED_BY]->(b:Bib) RETURN *')">Voir la répartition des unica entre bibliothèques
                                <i class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (bnf:BnfPresselocale)<-[:SAME_AS]-(s)-[:OWNED_BY]->(b:Bib) WITH bnf,b CALL apoc.create.vRelationship(bnf,'+`'LOC'`+','+`{count:1}`+',b) yield rel RETURN *')">Voir la répartition des titres de presse locale entre
                                bibliothèques <i class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (bnf:BnfPresselocale)<-[sa:SAME_AS]-(s:SudocUnica)-[rel:OWNED_BY]->(b:Bib) RETURN *')">Voir les unica qui sont aussi des titres de presse locale <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (b:Bib)<-[r:OWNED_BY]-(s:SudocUnica)-[:SAME_AS]-()-[:HAS_VERSION]->(num:Numerisation) WITH b,r,s,num CALL apoc.create.vRelationship(s,'+`'HAS_VERSION'`+','+`{count:1}`+',num) yield rel RETURN *')">Voir les unica numérisés <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (b:Bib)<-[r:OWNED_BY]-(s:SudocUnica)-[:SAME_AS]-()-[:HAS_VERSION]->(num:Numerisation) WITH b,r,s,num CALL apoc.create.vRelationship(s,'+`'HAS_VERSION'`+','+`{count:1}`+',num) yield rel RETURN *')">Voir les titres de presse locale numérisés <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (d1:Dpt)<-[l:LOCATED]-(b:Bib)<-[r:OWNED_BY]-(s)-[:SAME_AS]-()-[i:IS_ABOUT]->(d2:Dpt) where id(d1) <> id(d2) WITH d1,s,d2 CALL apoc.create.vRelationship(d1,'+`'OWNS'`+','+`{count:1}`+',s) yield rel CALL apoc.create.vRelationship(s,'+`'IS_ABOUT'`+','+`{count:1}`+',d2) yield rel as rels RETURN * ')">Voir les titres concernant un département conservé dans un autre département<i
                                    class="material-icons secondary-content">send</i></a>
                        </ul>
                    </div>
                    <div class="col s6">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <p>Qualité des données</p>
                            </li>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (s:SudocUnica)-[rel:OWNED_BY]->(b:Bib) WHERE NOT EXISTS(s.issn) RETURN *')">Voir les notices d'unica sans ISSN <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (s:SudocUnica)-[rel:OWNED_BY]->(b:Bib) WHERE EXISTS(s.controle) RETURN *')">Voir les notices d'unica avec une zone 309 <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (s)-[rel:OWNED_BY]->(b:Bib) WHERE NOT EXISTS(s.issn) OR EXISTS(s.controle) RETURN *')">Voir l'ensemble des notices Sudoc sans ISSN et/ou avec une zone 309 <i
                                    class="material-icons secondary-content">send</i></a>
                            <a href="#!" class="collection-item" onclick="postCypherQuery('MATCH (bnf:BnfPresselocale)-[i:IS_ABOUT]->(d:Dpt) WHERE NOT exists ((bnf)<-[:SAME_AS]-()) return *')">Voir les titres de presse locale absents du Sudoc <i
                                    class="material-icons secondary-content">send</i></a>
                        </ul>
                    </div>

                </div>                                                                                          

            </div>
        </div>
        <div class="row">
            <div id="graph"></div>
        </div>
    </main>
    <%- include ('../partials/footer') -%>
</body>
<%- include ('../partials/script') -%>
<script src="./scripts/graphe.js"></script>
</html>